@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

main {
  flex: 1;
}

.type-selector:checked + label {
   background: #1d4fd8;
}


@media screen and (min-width: 40em) {
  .cards {
      display: flex;
      flex-wrap: wrap;
  }

  .card {
      flex: 0 1 calc(50% - 1em);
  }
}

@media screen and (min-width: 60em) {

  .card {
      flex: 0 1 calc(25% - 1em);
  }
}

.centered {
  margin: 0 auto;
  padding: 0 1em;
}

@media screen and (min-width: 52em) {
  .centered {
      max-width: 52em;
  }
}

.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
  font-size: 1.2rem;
  gap: 5px;
}

.pagination .page-num {
  padding: 8px 15px;
  cursor: pointer;
  border-radius: 3px;
  font-weight: 400;
}

.pagination .page-num:hover {
  background-color: aqua;
  color: white;
}

.pagination .active {
  background-color: aqua;
  color: white;
}

.page-item-none{
  display: none;
}